In [23]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [24]:
data = pd.read_csv('movie_bd_v5.csv')
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [25]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [26]:
answers = {} # создадим словарь для ответов
data['profit']=data['revenue']-data['budget']

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data.genres=data.genres.apply(lambda x: x.split('|'))
data.director=data.director.apply(lambda x: x.split('|'))
data.cast=data.cast.apply(lambda x: x.split('|'))
data.production_companies=data.production_companies.apply(lambda x: x.split('|'))
display(data)
def month (x):
    result=x.split('/')
    result= result[0]
    return result
def word_count(x):
    x.split(' ')
    return(len(x))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",[Colin Trevorrow],The park is open.,Twenty-two years after the events of Jurassic ...,124,"[Action, Adventure, Science Fiction, Thriller]","[Universal Studios, Amblin Entertainment, Lege...",6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...",[George Miller],What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,"[Action, Adventure, Science Fiction, Thriller]","[Village Roadshow Pictures, Kennedy Miller Pro...",5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,"[Shailene Woodley, Theo James, Kate Winslet, A...",[Robert Schwentke],One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,"[Adventure, Science Fiction, Thriller]","[Summit Entertainment, Mandeville Films, Red W...",3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",[J.J. Abrams],Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,"[Action, Adventure, Science Fiction, Fantasy]","[Lucasfilm, Truenorth Productions, Bad Robot]",12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,"[Vin Diesel, Paul Walker, Jason Statham, Miche...",[James Wan],Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,"[Action, Crime, Thriller]","[Universal Pictures, Original Film, Media Righ...",4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,"[Patrick Stewart, Hugh Jackman, Ian McKellen, ...",[Bryan Singer],Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,"[Adventure, Action, Science Fiction]","[Twentieth Century Fox Film Corporation, Donne...",7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,"[Richard E. Grant, Jonathan Lipnicki, Jim Cart...",[Uli Edel],"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,"[Horror, Family, Foreign]",[New Line Cinema],10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,"[Rene Russo, Jason Alexander, Piper Perabo, Ra...",[Des McAnuff],This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,"[Adventure, Animation, Action, Comedy, Family]","[Universal Pictures, Capella International, KC...",6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,"[Meg Ryan, Diane Keaton, Lisa Kudrow, Walter M...",[Diane Keaton],Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,"[Comedy, Drama]","[Laurence Mark Productions, Columbia Pictures ...",2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,"[Susan Ward, Lori Heuring, Matthew Settle, Nat...",[Mary Lambert],What would you do to get in?,A mentally disturbed young woman takes a job a...,105,[Thriller],[Warner Bros. Pictures],7/19/2000,5.2,2000,-9782502

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [27]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] ='723    Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [28]:

answers['1'] = data.loc[data.budget==data.budget.max()].original_title

ВАРИАНТ 2

In [29]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [30]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157    Gods and Generals'
print(answers)

{'1': 723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object, '2': '1157    Gods and Generals'}

In [31]:
answers['2'] = data.loc[data.runtime==data.runtime.max()].original_title

# 3. Какой из фильмов самый короткий (в минутах)?

In [32]:
answers['3'] = data.loc[data.runtime==data.runtime.min()].original_title

# 4. Какова средняя длительность фильмов?

In [33]:
df=data.describe()
answers['4'] = round(df.loc['mean']['runtime'])

# 5. Каково медианное значение длительности фильмов?

In [34]:
df=data.describe()
answers['5'] = round(df.loc['50%']['runtime'])

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [35]:
answers['6'] = data.loc[data.profit==data.profit.max()].original_title

# 7. Какой фильм самый убыточный?

In [36]:
answers['7'] = data.loc[data.profit==data.profit.min()].original_title

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [37]:
answers['8'] = data.loc[data.profit>0]['imdb_id'].count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [38]:
films_2008=data.loc[(data.release_year==2008)] 
answers['9'] = films_2008.loc[(films_2008.revenue==films_2008.revenue.max())].original_title

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [39]:
films=data.loc[(data.release_year<=2014)&(data.release_year>=2012)]
answers['10'] = films.loc[(films.profit==films.profit.min())].original_title

# 11. Какого жанра фильмов больше всего?

In [40]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres=[]
for index, row in data.iterrows():
    genres+=row['genres']
answers['11'] = Counter(genres).most_common(1)

#ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [41]:
profits=data.loc[data['profit'] >0][['genres']]
genres=[]
for index, row in profits.iterrows():
    genres+=row['genres']
answers['12'] = Counter(genres).most_common(1)

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [42]:
directors = data.explode('director')
grouped=directors.groupby(['director'])['revenue', 'profit'].sum().sort_values(by= ['revenue'], ascending=False)
answers['13'] = grouped.loc[(grouped.revenue==grouped.revenue.max())].index[0]

C:\Users\User\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [43]:
data_1=data.copy()
data_1.genres=data_1.genres.apply(lambda x: ''.join(x))
actions=data_1[data_1.genres.str.contains("Action", na=False)]
directors=[]
for index, row in actions.iterrows():
    directors+=row['director']
answers['14'] = Counter(directors).most_common(1)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [45]:
moovie_2012=data.loc[(data['release_year']==2012)][['cast','revenue']]
best_moovie_2012=moovie_2012.loc[(moovie_2012['revenue']>=moovie_2012['revenue'].mean())]
cast=[]
for index, row in best_moovie_2012.iterrows():
    cast+=row['cast']
answers['15'] = Counter(cast).most_common(1)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [46]:
expensive_movies=data.loc[(data['budget']>=data['budget'].mean())][['cast']]
cast=[]
for index, row in expensive_movies.iterrows():
    cast+=row['cast']
answers['16'] = Counter(cast).most_common(1)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [47]:
data_1=data.copy()
data_1.cast=data_1.cast.apply(lambda x: ''.join(x))
Nics_moovies=data_1[data_1.cast.str.contains("Nicolas Cage", na=False)]
genres=[]
for index, row in Nics_moovies.iterrows():
    genres+=row['genres']
answers['17'] = Counter(genres).most_common(1)

# 18. Самый убыточный фильм от Paramount Pictures

In [48]:
data_1=data.copy()
data_1.production_companies=data_1.production_companies.apply(lambda x: ''.join(x))
paramounts=data_1[data_1.production_companies.str.contains("Paramount Pictures", na=False)]
worst=paramounts.sort_values(by=['profit'], ascending=True).head(1)
answers['18'] = worst['original_title']

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [49]:
answers['19'] = data.groupby(['release_year'])[['revenue']].sum().sort_values(by=['revenue'], ascending=False).head(1)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [50]:
data_1=data.copy()
data_1.production_companies=data_1.production_companies.apply(lambda x: ''.join(x))
WB_moovies=data_1[data_1.production_companies.str.contains("Warner Bros", na=False)]

answers['20'] = WB_moovies.groupby(['release_year'])[['profit']].sum().sort_values(by=['profit'], ascending=False).head(1)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [51]:
data_1=data.copy()
data_1.release_date=data_1.release_date.apply(month)
data_1.groupby(['release_date'])[['original_title']].count()
answers['21'] = data_1.loc[(data_1.original_title==data_1.original_title.max())].release_date

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
data_1=data.copy()
data_1.release_date=data_1.release_date.apply(month)
answers['22'] = data_1.loc[(data_1['release_date']=='6')|(data_1['release_date']=='7')|(data_1['release_date']=='8')][['original_title']].count()

# 23. Для какого режиссера зима – самое продуктивное время года?

In [53]:
data_1=data.copy()
data_1.release_date=data_1.release_date.apply(month)
winters=data_1.loc[(data_1['release_date']=='12')|(data_1['release_date']=='1')|(data_1['release_date']=='2')][['original_title', 'director']]
directors=[]
for index, row in winters.iterrows():
    directors+=row['director']
answers['23']=Counter(directors).most_common(1)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [54]:
data_1=data.copy()
data_1.original_title=data_1.original_title.apply(lambda x: len(x))
companies = data_1.explode('production_companies')
answers['24'] = companies.groupby('production_companies').original_title.mean().sort_values(ascending=False).index[0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [55]:
data_1=data.copy()
data_1.overview=data_1.overview.apply(word_count)
companies = data_1.explode('production_companies')
answers['25'] = companies.groupby('production_companies').overview.mean().sort_values(ascending=False).index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [56]:
bests = data.sort_values(by='vote_average').tail(int(data.original_title.count()/100)).original_title
answers['26'] = bests.tolist()

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [57]:
data.cast=data.cast.apply(lambda x:combinations(x, 2))
pairs=[]
for index, row in data.iterrows():
    pairs+=row['cast']
answers['27'] = Counter(pairs).most_common(1)

# Submission

In [58]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object,
 '2': 1157    Gods and Generals
 Name: original_title, dtype: object,
 '3': 768    Winnie the Pooh
 Name: original_title, dtype: object,
 '4': 110,
 '5': 107,
 '6': 239    Avatar
 Name: original_title, dtype: object,
 '7': 1245    The Lone Ranger
 Name: original_title, dtype: object,
 '8': 1478,
 '9': 599    The Dark Knight
 Name: original_title, dtype: object,
 '10': 1245    The Lone Ranger
 Name: original_title, dtype: object,
 '11': [('Drama', 782)],
 '12': [('Drama', 560)],
 '13': 'Peter Jackson',
 '14': [('Robert Rodriguez', 9)],
 '15': [('Chris Hemsworth', 2)],
 '16': [('Matt Damon', 18)],
 '17': [('Action', 17)],
 '18': 925    K-19: The Widowmaker
 Name: original_title, dtype: object,
 '19':                   revenue
 release_year
 2015          25449202382,
 '20':                   profit
 release_year
 2014          2295464519,
 '21': 1311    10
 Name: release_date, dtype: object,
 '22': original_title    450
 dtype: int64,
 '23': [('Peter Jackson', 7)],
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['The Theory of Everything',
  'The Lord of the Rings: The Two Towers',
  'There Will Be Blood',
  'Mr. Nobody',
  '12 Years a Slave',
  'The Pianist',
  'Gone Girl',
  'Memento',
  'Guardians of the Galaxy',
  'Inception',
  'The Wolf of Wall Street',
  'The Grand Budapest Hotel',
  'The Lord of the Rings: The Return of the King',
  'Room',
  'Interstellar',
  'Inside Out',
  'The Imitation Game',
  'The Dark Knight'],
 '27': [(('Daniel Radcliffe', 'Rupert Grint'), 8)]}

In [59]:
# и убедиться что ни чего не пропустил)
len(answers)

27